div.label_30 table.o_inner_group td.o_td_label{
    width: 30% !important;
}
div.label_40 table.o_inner_group td.o_td_label{
    width: 40% !important;
}
div.label_50 table.o_inner_group td.o_td_label{
    width: 50% !important;
}
div.label_60 table.o_inner_group td.o_td_label{
    width: 60% !important;
}
div.label_70 table.o_inner_group td.o_td_label{
    width: 70% !important;
}
div.label_80 table.o_inner_group td.o_td_label{
    width: 80% !important;
}
div.label_90 table.o_inner_group td.o_td_label{
    width: 90% !important;
}