/* Boutton minimalistes associés au titres h2 */
/* .btn-minimalist */
/* <div class="o_horizontal_separator"><span>TITRE</span><button class="oe_stat_button btn-minimalist" ... */

.o_horizontal_separator > span:first-child {
    margin-right: 12px;
}

button.oe_stat_button.btn-minimalist {
    margin-right: 7px;
    padding: 2px 4px 2px 5px;
    font-size: 15px;
    margin-top: -5px;
}

button.oe_stat_button.btn-minimalist > span {
    display: none;
}

.o_horizontal_separator > span:first-child {
    margin-right: 12px;
}