
.vis.timeline .vispanel.left {
    width: 250px;
}

.vis.timeline .labelset .vlabel {
    margin-top: 30px;
}
.vis.timeline .foreground .group {
    margin-top: 30px;
}
.vis.timeline .macro_tache {
    top: -29px !important
}
.vis.timeline .timeaxis .grid.minor {
    border-color: #bbbbbb;
}
.oe_timeline_widget {
    padding-top: 100px;
}
.oe_timeline_buttons
{
    position: fixed;
    width: 85%;
    z-index: 99;
    background: #f0eeee;
}
.vis.timeline .timeaxis.foreground{
    position: fixed;
    margin-top: -60px;
    background: #f0eeee;
    z-index: 99;
    top: auto;
    left: auto;
    width:74%;
}
.vispanel.bottom .timeaxis.foreground{
    display: none;
}
