/* Hide the very first 2 rows (that represent the pseudo root element) */
.orgchart > table > tbody > tr:nth-child(-n+3) {
    display: none;
}

/* in the .node class of the root, search for the first children of root and
    hide their topEdge arrow which is associated to the pseudo root elemen */
.orgchart > table > tbody > tr.nodes > td > table > tbody > tr > td > div.node > i.topEdge {
    display: none;
}

.orgchart .node .content {
    height: auto;
    white-space: normal;
}

.orgchart .node {
    cursor: pointer;
}
