.orgchart .node .content {
    height: auto;
    white-space: normal;
}

.orgchart .node {
    border-radius: 4px;
    width: 180px;
}

.orgchart .node > div {
    cursor: pointer;
}

.orgchart .node .company .title {
    background-color: rgb(51, 122, 183);
}

.orgchart .node .company .content {
    border-color: rgb(51, 122, 183);
}

.orgchart .node .title {
    height: auto;
    padding: 5px 3px;
    font-size: 12px;
}

.orgchart .node .company .content {
    min-height: 4px;
    background-color: rgb(51, 122, 183);
}

.orgchart .node .company .title {
    padding-top: 9px;
}

