table.o_list_view th {
    position: sticky;
    top: 0;
    background-color: #e2e2e0;
    z-index: 9;
}

div.table-responsive {
    overflow-x: visible !important;
    overflow-y: visible !important;
    width: auto !important;
}

.o_web_client.navbar {
    z-index: 9999;
}
.o_list_view tbody > tr.o_group_header .o_group_name {
    background: none;
}

.o_list_view tbody > tr.o_group_header .o_group_name::before {
    content: "";
    display: block;
    width: 100%;
    background: #e2e2e0;
    height: 100%;
    float: left;
    position: absolute;
    z-index: -1;
    top: 0;
}